<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/chitietsanpham.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../imgs/tintuc/logo.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0  w-100 justify-content-xxl-end">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">TRANG CHỦ </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./gioithieu.html">GIỚI THIỆU</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./sanpham.html">SẢN PHẨM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./tintuc.html">TIN TỨC</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./lienhe.html">LIÊN HỆ</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <section id="prd-detail">
        <div class="container">
            <div class="link">
                <a href="./trangchu.html">Trang chủ</a> 
                <span> > </span>
                <a href="./sanpham.html">Sản phẩm</a> 
                <span> > </span>
                <a href="./chitietsanpham.html">Chi tiết sản phẩm</a>
            </div>
            <div class="row">
                <div class="col-xxl-8 d-flex">
                    <div class="detail-slide">
                        <i class="fas fa-chevron-down mb-3"></i>
                        <img src="../imgs/chitietsanpham/img1.png" alt="img1">
                        <img src="../imgs/chitietsanpham/img2.png" alt="img2">
                        <img src="../imgs/chitietsanpham/img3.png" alt="img3">
                        <i class="fas fa-chevron-up mt-3"></i>
                    </div>
                    <div class="detail-img">
                        <img src="../imgs/chitietsanpham/img-main.png" alt="img-main">
                    </div>
                </div>
                <div class="col-xxl-4">
                    <h1>TRÀ SHAN TUYẾT</h1>
                    <div class="star d-flex pb-3">
                        <img src="../imgs/chitietsanpham/star.png" alt="star" >
                        <span>71 đánh giá</span>
                    </div>
                    <div class="price pb-3">
                        <h5 class="fs-3 ">50,000<span class="vnd fs-6">VND</span>
                        <span class="gram fs-5">200g <i class="fas fa-angle-down"></i></span></h5>
                    </div>
                    <div class="text">
                        <h4 class="pb-3">SẢN PHẨM ĐẠT CHUẨN VỆ SINH AN TOÀN THỰC PHẨM</h4>
                        <p>
                            Trà Shan Tuyết (Chè Shan Tuyết) hay còn được gọi là trà tuyết. Đây là loại trà đặc sản của các đồng bào tộc người Tày, Giao, Mông và là đặc sản của các tỉnh như Hà Giang, Điện Biên, Lào Cai.
                        </p>
                        <p>
                            Đặc điểm của trà Shan Tuyết là búp trà (cánh trà) rất to và màu trắng, dưới cánh trà phủ 1 lớp lông tơ mịn mầu trắng.
                        </p>
                        <p>
                            Cây trà Shan Tuyết cổ thụ rất lớn, có khi vài người lớn vòng tay ôm. Mọc ở trên núi cao hơn 1200m, quanh năm mây mù và lạnh. Sự chênh lệch nhiệt độ giữa ngày và đêm là rất lớn, chính bởi có điều kiện tự nhiên thú vị như vậy nên đó là nét độc đáo tạo ra một hương 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../imgs/baiviet/bg-l1.png" alt="bg-l1" class="img-ab1">
        <img src="../imgs/baiviet/bg-r1.png" alt="bg-r1" class="img-ab3">
        
    </section>

    <section id="tutorial">
        <div class="container tutorial">
            <div class="row">
                <div class="col-xxl-5">
                    <h1 class="mb-5">Hướng dẫn pha <br>trà Shan Tuyết</h1>
                    <div class="water d-flex mb-3">
                        <img src="../imgs/chitietsanpham/water.png" alt="water">
                        <p>Đổ vào ấm từ 150 - 200ml,<br>nước sôi nhiệt độ 85°C</p>
                    </div>
                    <div class="quantitative d-flex mb-3">
                        <img src="../imgs/chitietsanpham/quantitative.png" alt="quantitative">
                        <p>1 - 2 nắm trà , khoảng 20 - 30 gram</p>
                    </div>
                    <div class="time d-flex mb-3">
                        <img src="../imgs/chitietsanpham/time.png" alt="time">
                        <p>Để trà: 4 - 6 phút</p>
                    </div>
                </div>
                <div class="col-xxl-7">
                    <img src="../imgs/chitietsanpham/img-main-2.png" alt="img-main-2">
                </div>
            </div>
        </div>
        <img src="../imgs/baiviet/bg-l2.png" alt="bg-l2" class="img-ab2"> 
        <img src="../imgs/baiviet/bg-r2.png" alt="bg-r2" class="img-ab4">  
    </section>

    <section id="related">
        <i class="fas fa-chevron-left icon-left"></i>
        <div class="container related">
            <h1 class="prd-telated text-center">Sản phẩm liên quan</h1>
            <div class="row">
                <div class="col-xxl-3">
                    <div class="star2 d-flex mb-3">
                        <div class="star-2"><img src="../imgs/sanpham/star.png" alt=""><span class="num">(27)</span></div>
                        <div class="new">NEW</div>
                    </div>
                    <div class="detail text-center">
                        <img src="../imgs/chitietsanpham/tra-bup.png" alt="trabup" class="mb-2">
                        <p class="fs-5">Trà Búp</p>
                        <h5>70,000<span class="vnd">VND</span> <span class="gram">200g <i class="fas fa-angle-down"></i></span></h5>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="star2 d-flex mb-3">
                        <div class="star-2"><img src="../imgs/sanpham/star.png" alt=""><span class="num">(17)</span></div>
                        <div class="new">NEW</div>
                    </div>
                    <div class="detail text-center">
                        <img src="../imgs/chitietsanpham/tra-shan-tuyet.png" alt="trashantuyet" class="mb-2">
                        <p class="fs-5">Trà Shan Tuyết</p>
                        <h5>50,000<span class="vnd">VND</span> <span class="gram">200g <i class="fas fa-angle-down"></i></span></h5>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="star2 d-flex mb-3">
                        <div class="star-2"><img src="../imgs/sanpham/star.png" alt=""><span class="num">(27)</span></div>
                        <div class="new">NEW</div>
                    </div>
                    <div class="detail text-center">
                        <img src="../imgs/chitietsanpham/tra-o-long.png" alt="trolong" class="mb-2">
                        <p class="fs-5">Trà Ô Long</p>
                        <h5>70,000<span class="vnd">VND</span> <span class="gram">200g <i class="fas fa-angle-down"></i></span></h5>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="star2 d-flex mb-3">
                        <div class="star-2"><img src="../imgs/sanpham/star.png" alt=""><span class="num">(27)</span></div>
                        <div class="new">NEW</div>
                    </div>
                    <div class="detail text-center">
                        <img src="../imgs/chitietsanpham/tra-bup.png" alt="sp3" class="mb-2">
                        <p class="fs-5">Trà Búp</p>
                        <h5>70,000<span class="vnd">VND</span> <span class="gram">200g <i class="fas fa-angle-down "></i></span></h5>
                    </div>
                </div>
            </div>
        </div>
        <i class="fas fa-chevron-right icon-right"></i>
    </section>

    <footer>
        <div class="container-fluid ft">
            <div class="container">
                <div class="row row-ft">
                    <div class="col-xxl-4 addr-ft">
                        <img src="../imgs/sanpham/logo-ft.png" alt="logo">
                        <p>7999.999.999 <br>trasenbachdiep@gmail.com <br>Số 12, Quảng An, Tây Hồ, Hà Nội</p>
                    </div>
                    <div class="col-xxl-4 about-ft">
                        <h5>VỀ CHÚNG TÔI</h5>
                        <P>Giới thiệu <br>Sản phẩm <br>Tin tức</P>
                    </div>
                    <div class="col-xxl-4 contact-ft">
                        <h5>LIÊN HỆ</h5>
                        <img src="../imgs/sanpham/logo-mxh.jpg" alt="logo-ft">
                        <p>Copyright @2010-2020 <br>Tra Sen Bach Diep. All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>